<div class="container-fluid mt-3">
    <div>
        <h2 class="mt-3 text-primary">Danh sách đơn hàng</h2>
        <div class="d-flex justify-content-between mt-3">
            <a href="san-pham/kho-luu-tru" type="button" class="btn btn-outline-danger"><i
                    class="fas fa-archive mr-2"></i>Kho lưu trữ<span
                    class="badge badge-info ml-3">{{deletedCount}}</span></a>
            <a type="button" href="/don-hang/tao" class="btn btn-outline-primary">Tạo đơn hàng</a>
        </div>
    </div>
    <div class="list-group-item mt-3">
        {{#each bills}}
        <div class="card card-width">
            <div class="card-body">
                <h5 class="card-title">{{this.billName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.customerName}}</h6>
                <p class="card-text">{{this.productName}}</p>
                <p class="card-text">{{this.price}}</p>
                <p class="card-text">{{this.quantity}}</p>
                <p class="card-text">{{this.intoMoney}}</p>
                <p class="card-text">{{this.total}}</p>
                <p class="card-text">{{this.description}}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>