<div class="container-fluid mt-3">
    <div>
        <h2 class="text-primary">Danh sách hình thức vận chuyển</h2>
        <div class="d-flex justify-content-between mt-4">
            <a href="hinh-thuc-van-chuyen/kho-luu-tru" type="button" class="btn btn-outline-danger"><i
                    class="fas fa-archive mr-2"></i>Kho lưu trữ<span
                    class="badge badge-info ml-3">{{deletedCount}}</span></a>
            <a type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-add"><i
                    class="fas fa-plus mr-2"></i>Thêm mới</a>
        </div>
    </div>
    <div class="mt-4">
        <table class="table table-hover table-sm" id="transports-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Hình thức vận chuyển</th>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each transports}}
                <tr class="text-center">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.title}}</td>
                    <td>{{this.content}}</td>
                    <td class="text-center">
                        <a type="button" class="btn btn-outline-info btn-sm mr-2" data-toggle="modal" data-id="{{this._id}}"
                            data-content="{{this.content}}" data-title="{{this.title}}"
                            data-target="#modal-edit">Chỉnh sửa</a>
                        <a type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-id="{{this._id}}"
                            data-title="{{this.title}}" data-target="#modal-delete">
                            Lưu trữ
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-transports" class="" method="POST">
                    <label for="title" class="">Hình thức vận chuyển</label>
                    <div class="form-group">
                        <input id="title" name="title" type="text" class="form-control form-control-sm"
                            placeholder="Vd: Viettel Post, GHN, Panda... hoặc Nhân viên cửa hàng">
                    </div>
                    <div class="form-group">
                        <label for="content">Nội dung</label>
                        <textarea class="form-control" id="content" name="content"
                            placeholder="Vd: Phí vận chuyển của đơn vị vận chuyển hoặc phí vận chuyển của cửa hàng"
                            rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-add-transports" type="submit" class="btn btn-primary">Lưu lại</button>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h5 class="modal-title" id="exampleModalLabel">Sửa</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="edit-transports" class="" method="POST">
                    <label for="title" class="">Hình thức vận chuyển</label>
                    <div class="form-group">
                        <input id="title" name="title" type="text" class="form-control form-control-sm"
                            placeholder="Vd: Viettel Post, GHN, Panda... hoặc Nhân viên cửa hàng">
                    </div>
                    <div class="form-group">
                        <label for="content">Nội dung</label>
                        <textarea class="form-control" id="content" name="content"
                            placeholder="Vd: Phí vận chuyển của đơn vị vận chuyển hoặc phí vận chuyển của cửa hàng"
                            rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-edit-transports" type="submit" class="btn btn-info">Lưu lại</button>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-transports" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Lưu trữ</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-delete-transports" type="submit" class="btn btn-danger">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        var transportId, title, content;
        var addTransports = document.forms['add-transports'];
        var editTransports = document.forms['edit-transports'];
        var deleteTransports = document.forms['delete-transports'];
        var btnAddTransports = document.getElementById('btn-add-transports');
        var btnEditTransports = document.getElementById('btn-edit-transports');
        var btnDeleteTransports = document.getElementById('btn-delete-transports');

        btnAddTransports.onclick = function () {
            addTransports.submit();
        }

        $('#modal-edit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            transportId = button.data('id');
            title = button.data('title');
            content = button.data('content');
            var modal = $(this);
            modal.find('.modal-body input').val(title);
            modal.find('.modal-body textarea').val(content);
        })

        btnEditTransports.onclick = function () {
            editTransports.action = '/hinh-thuc-van-chuyen/' + transportId + '?_method=PUT';
            editTransports.submit();
        }

        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            transportId = button.data('id');
            title = button.data('title');
            var modal = $(this);
            modal.find('.modal-body').text('Bạn có chắc muốn đưa ' + title + ' vào kho lưu trữ không?');
        })

        btnDeleteTransports.onclick = function () {
            deleteTransports.action = '/hinh-thuc-van-chuyen/' + transportId + '/storage?_method=DELETE';
            deleteTransports.submit();
        }

        $(document).ready(function () {
            $('#transports-table').DataTable();
        });
    })
</script>