<div class="container-fluid mt-3">
    <div>
        <h2>Danh sách Khách hàng</h2>
        <div class="d-flex justify-content-between">
            <a href="khach-hang/kho-luu-tru" type="button" class="btn btn-primary btn-sm"><i class="fas fa-archive"></i>
                Lưu trữ <span class="badge badge-light">{{deletedCount}}</span></a>
            <a type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-add"><i
                    class="fas fa-plus"></i>
                Thêm mới</a>
        </div>
    </div>
    <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-customer" class="mb-3" method="POST">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="customer-name">Họ tên</label>
                                    <input type="text" class="form-control form-control-sm focus" id="customer-name"
                                        name="customerName">
                                </div>
                                <div class="col-md-2">
                                    <label for="customer-gender">Giới tính</label>
                                    <select class="form-control form-control-sm mr-sm-2" id="customer-gender"
                                        name="gender">
                                        <option selected value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="customer-phone-number">Số điện thoại</label>
                                    <input type="text" class="form-control form-control-sm focus"
                                        id="customer-phone-number" name="phoneNumber">
                                </div>
                                <div class="col-md-4">
                                    <label for="customer-email">Email</label>
                                    <input type="email" class="form-control form-control-sm focus" id="customer-email"
                                        name="email">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label for="customer-address">Địa chỉ</label>
                                    <input type="text" class="form-control form-control-sm focus" id="customer-address"
                                        name="address">
                                </div>
                                <div class="col-md-3">
                                    <label for="customer-district">Quận / Huyện</label>
                                    <select class="form-control form-control-sm mr-sm-2" id="customer-district"
                                        name="district">
                                        <option selected>Chọn Quận / Huyện...</option>
                                        {{#each districts}}
                                        <option value="{{this.district}}">{{this.district}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="customer-cityprivince">Tỉnh / Thành phố</label>
                                    <select class="form-control form-control-sm mr-sm-2" id="customer-cityprivince"
                                        name="cityProvince">
                                        <option selected>Chọn Tỉnh / Thành phố...</option>
                                        {{#each cities}}
                                        <option value="{{this.cityprovince}}">{{this.cityprovince}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                {{!-- <div class="col-md-4"> --}}
                                    {{!-- <img src="..." alt="..." class="img-thumbnail">
                                    <label for="supplier-img" class="btn btn-secondary">Chọn hình ảnh</label>
                                    <input style="visibility:hidden;" type="file" class="form-control-file"
                                        placeholder="Chọn hình ảnh" id="supplier-img"> --}}

                                    {{!--
                                </div> --}}
                            </div>
                            <label for="customer-description">Mô tả</label>
                            <textarea class="form-control form-control-sm" id="customer-description" rows="3"
                                name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-add" type="button" class="btn btn-primary btn-sm">Lưu lại</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <table class="table table-hover table-sm mt-4" id="customer-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Email</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Quận/Huyện</th>
                    <th scope="col">Tỉnh/Thành phố</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each customers}}
                <tr class="text-center">
                    <th scope="row">{{sum @index 1}}</th>
                    <td><a href="/chi-tiet">{{this.customerName}}</a></td>
                    <td>{{this.gender}}</td>
                    <td><a type="button" class="" data-toggle="tooltip" data-placement="top"
                            title="{{this.email}}">{{sliceString this.email 9}}</a></td>
                    <td>{{this.phoneNumber}}</td>
                    <td><a type="button" class="" data-toggle="tooltip" data-placement="top"
                            title="{{this.address}}">{{sliceString this.address 9}}</a></td>
                    <td>{{this.district}}</td>
                    <td>{{this.cityProvince}}</td>
                    <td class="text-center">
                        <a type="button" class="mr-3" data-toggle="modal" data-id="{{this._id}}"
                            data-customer-name="{{this.customerName}}" data-gender="{{this.gender}}" data-customer-email="{{this.email}}"
                            data-customer-phone="{{this.phoneNumber}}" data-customer-address="{{this.address}}"
                            data-customer-district="{{this.district}}"
                            data-customer-cityprovince="{{this.cityProvince}}"
                            data-customer-description="{{this.description}}" data-target="#modal-edit">Sửa</a>
                        <a type="button" class="text-danger" data-toggle="modal" data-id="{{this._id}}"
                            data-customer-name="{{this.customerName}}" data-target="#modal-delete">
                            Lưu trữ
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-delete-customer" type="submit" class="btn btn-danger btn-sm">Có</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-customer" method="POST"></form>

<div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h5 class="modal-title" id="exampleModalLabel">Sửa</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-customer" class="mb-3" method="POST">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="customer-name">Tên nhà cung cấp</label>
                                <input type="text" class="form-control form-control-sm focus" id="customer-name"
                                    name="customerName">
                            </div>
                            <div class="col-md-2">
                                <label for="customer-gender">Giới tính</label>
                                <select class="form-control form-control-sm mr-sm-2" data-gender="customer-gender"
                                    id="customer-gender" name="gender">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="customer-phone-number">Số điện thoại</label>
                                <input type="text" class="form-control form-control-sm focus" id="customer-phone-number"
                                    name="phoneNumber">
                            </div>
                            <div class="col-md-4">
                                <label for="customer-email">Email</label>
                                <input type="email" class="form-control form-control-sm focus" id="customer-email"
                                    name="email">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="customer-address">Địa chỉ</label>
                                <input type="text" class="form-control form-control-sm focus" id="customer-address"
                                    name="address">
                            </div>
                            <div class="col-md-3">
                                <label for="customer-district">Quận / Huyện</label>
                                <select class="form-control form-control-sm" id="customer-district" name="district">
                                    <option>Chọn Quận / Huyện...</option>
                                    {{#each districts}}
                                    <option value="{{this.district}}">{{this.district}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="customer-cityprovince">Tỉnh / Thành phố</label>
                                <select class="form-control form-control-sm" id="customer-cityprovince"
                                    name="cityProvince">
                                    <option>Chọn Tỉnh / Thành phố...</option>
                                    {{#each cities}}
                                    <option value="{{this.cityprovince}}">{{this.cityprovince}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{!-- <div class="col-md-6"> --}}
                                {{!-- <img src="..." alt="..." class="img-thumbnail">
                                <label for="supplier-img" class="btn btn-secondary">Chọn hình ảnh</label>
                                <input style="visibility:hidden;" type="file" class="form-control-file"
                                    placeholder="Chọn hình ảnh" id="supplier-img"> --}}

                            {{!-- </div> --}}
                        </div>
                        <label for="customer-description">Mô tả</label>
                        <textarea class="form-control form-control-sm" id="customer-description" rows="3"
                            name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-edit-customer" type="submit" class="btn btn-info btn-sm">Lưu lại</button>
                <button type="submit" class="btn btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        var customerId, customer;
        var addCustomer = document.forms['add-customer'];
        var editCustomer = document.forms['edit-customer'];
        var deleteCustomer = document.forms['delete-customer'];
        var btnAddCustomer = document.getElementById('btn-add');
        var btnEditCustomer = document.getElementById('btn-edit-customer');
        var btnDeleteCustomer = document.getElementById('btn-delete-customer');

        btnAddCustomer.onclick = function () {
            addCustomer.submit();
        }

        $('#modal-edit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            customerId = button.data('id');
            customerName = button.data('customer-name');
            customerGender = button.data('gender');
            customerEmail = button.data('customer-email');
            customerPhone = button.data('customer-phone');
            customerAddress = button.data('customer-address');
            customerDistrict = button.data('customer-district');
            customerCityProvince = button.data('customer-cityprovince');
            customerDescription = button.data('customer-description');
            var modal = $(this);
            modal.find('.modal-body #customer-name').val(customerName);
            modal.find('.modal-body #customer-gender').val(customerGender);
            modal.find('.modal-body #customer-email').val(customerEmail);
            modal.find('.modal-body #customer-phone-number').val(customerPhone);
            modal.find('.modal-body #customer-address').val(customerAddress);
            modal.find('.modal-body #customer-district').val(customerDistrict);
            modal.find('.modal-body #customer-cityprovince').val(customerCityProvince);
            modal.find('.modal-body #customer-description').val(customerDescription);
        })

        btnEditCustomer.onclick = function () {
            editCustomer.action = '/khach-hang/' + customerId + '?_method=PUT';
            editCustomer.submit();
        }

        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            customerId = button.data('id');
            customerName = button.data('customer-name');
            var modal = $(this);
            modal.find('.modal-body').text('Bạn có chắc muốn đưa ' + customerName + ' vào kho lưu trữ không?');
        })

        btnDeleteCustomer.onclick = function () {
            deleteCustomer.action = '/khach-hang/' + customerId + '/storage?_method=DELETE';
            deleteCustomer.submit();
        }

        $(document).ready(function () {
            $('#customer-table').DataTable();
        });
    })
</script>