<div class="container-fluid mt-3">
    <div>
        <h2>Danh sách khối lượng</h2>
        <div class="d-flex justify-content-between">
            <a href="khoi-luong/kho-luu-tru" type="button" class="btn btn-primary btn-sm"><i class="fas fa-archive"></i>
                Lưu trữ <span class="badge badge-light">{{deletedCount}}</span></a>
            <a type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-add"><i
                    class="fas fa-plus"></i>
                Thêm mới</a>
        </div>
    </div>
    <div class="modal fade" id="modal-add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-mass" class="mt-3 mb-3" method="POST">
                        <label for="add-mass">Khối lượng</label>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm focus" id="add-mass" name="massName"
                                value="{{this.massName}}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-add-mass" type="submit" class="btn btn-primary btn-sm">Lưu lại</button>
                    <button type="submit" class="btn btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <table class="table table-hover table-sm" id="mass-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Khối lượng</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each masses}}
                <tr class="text-center">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.massName}}</td>
                    <td class="text-center">
                        <a type="button" class="mr-4" data-toggle="modal" data-id="{{this._id}}"
                            data-mass="{{this.massName}}" data-target="#modal-edit">Sửa</a>
                        <a type="button" class="text-danger" data-toggle="modal" data-id="{{this._id}}"
                            data-id="{{this._id}}" data-mass="{{this.massName}}" data-target="#modal-delete">
                            Lưu trữ
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h5 class="modal-title" id="exampleModalLabel">Sửa</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <label for="edit-mass">Khối lượng</label>
                <form name="edit-mass" class="mb-3" method="POST">
                    <input type="text" class="form-control form-control-sm focus" id="edit-mass" name="massName">
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-edit-mass" type="submit" class="btn btn-info btn-sm">Lưu lại</button>
                <button type="submit" class="btn btn-secondary btn-sm" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-mass" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Lưu trữ</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-delete-mass" type="submit" class="btn btn-danger btn-sm">Có</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        var massId, mass;
        var addMass = document.forms['add-mass'];
        var editMass = document.forms['edit-mass'];
        var deleteMass = document.forms['delete-mass'];
        var btnAddMass = document.getElementById('btn-add-mass');
        var btnEditMass = document.getElementById('btn-edit-mass');
        var btnDeleteMass = document.getElementById('btn-delete-mass');

        btnAddMass.onclick = function () {
            addMass.submit();
        }

        $('#modal-edit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            massId = button.data('id');
            mass = button.data('mass');
            var modal = $(this);
            modal.find('.modal-body input').val(mass);
        })

        btnEditMass.onclick = function () {
            editMass.action = '/khoi-luong/' + massId + '?_method=PUT';
            editMass.submit();
        }

        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            massId = button.data('id');
            mass = button.data('mass');
            var modal = $(this);
            modal.find('.modal-body').text('Bạn có chắc muốn đưa ' + mass + ' vào kho lưu trữ không?');
        })

        btnDeleteMass.onclick = function () {
            deleteMass.action = '/khoi-luong/' + massId + '/storage?_method=DELETE';
            deleteMass.submit();
        }

        $(document).ready(function () {
            $('#mass-table').DataTable();
        });
    })
</script>