<div class="thanh-nav bg-dark sticky-top">
    <div class="d-flex justify-content-between ml-4 pt-3 pb-2">
        <h4 class="">
            <a href="/don-hang" type="button" class="text-decoration-none">
                <i class="ti-arrow-left text-light"></i>
            </a>
        </h4>
        <h2 class="text-light">TẠO ĐƠN HÀNG</h2>
        <div class="mr-4">
            <a id="add" type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#modal-add"><i
                    class="fas fa-plus mr-2"></i>Thêm mới</a>
        </div>
    </div>
</div>
<div class="container-content list-group-item bg-xanh-xam text-light pt-4">
    <form id="add-bill" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="border-right khung-border border-info">
                    <div class="row mr-2">
                        <div class="col-md-3">
                            <label for="bill-id">Mã HĐ</label>
                            <input type="text" class="form-control form-control-sm focus border-info" id="bill-id"
                                name="billId">
                        </div>
                        <div class="col-md-3">
                            <label for="bill-name">Tên hóa đơn</label>
                            <input type="text" class="form-control form-control-sm focus border-info" id="bill-name"
                                name="billName">
                        </div>
                        <div class="col-md-3">
                            <label for="customer-id">Mã KH</label>
                            <input type="text" class="form-control form-control-sm focus border-info" id="customer-id"
                                name="customerId">
                        </div>
                        <div class="col-md-3">
                            <label for="customer-name">Tên khách hàng</label>
                            <select class="form-control form-control-sm border-info" id="customer-name"
                                name="customerName">
                                {{#each customers}}
                                <option>{{this.customerName}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="row mr-2 mt-2">
                        <div class="col-md-4">
                            <label for="place-of-delivery">Địa chỉ giao hàng</label>
                            <input type="text" class="form-control form-control-sm focus border-info"
                                id="place-of-delivery" name="placeOfDelivery">
                        </div>
                        <div class="col-md-4">
                            <label for="bill-payments">Hình thức thanh toán</label>
                            <select class="form-control form-control-sm border-info" id="bill-payments" name="payments">
                                {{#each payments}}
                                <option>{{this.title}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="bill-transportation">Hình thức vận chuyển</label>
                            <select class="form-control form-control-sm border-info" id="bill-transportation"
                                name="transportation">
                                {{#each transportations}}
                                <option>{{this.title}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="mr-4 mt-2">
                        <label for="bill-description">Mô tả</label>
                        <textarea rows="2" type="text" class="form-control form-control-sm focus border-info"
                            id="bill-description" name="description"></textarea>
                    </div>

                    <div class="mt-3 mr-4">
                        <table class="table table-hover table-sm compact" id="bill-table">
                            <thead>
                                <tr class="text-center text-light">
                                    <th scope="col">#</th>
                                    <th scope="col">Mã sản phẩm</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Đơn giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                    <th class="text-center border-info" scope="row">{{sum @index 1}}</th>
                                    <td class="text-center border-info"><a href="/chi-tiet">{{this.productId}}</a>
                                    </td>
                                    <td class="text-center border-info" aria-valuetext="ten-san-pham">
                                        {{this.productName}}</td>
                                    <td class="text-right border-info" aria-valuetext="gia-ban">
                                        {{this.productPriceOut}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item khung bg-xanh-xam-nhat">
                        <label for="exampleFormControlInput1" class="mr-2">Sản phẩm:</label><span id="count" class="text-primary"></span>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="exampleFormControlInput1" class="mr-2">Tên sản phẩm</label>
                            </div>
                            <div class="col-md-2">
                                <label for="exampleFormControlInput1" class="mr-2">Số lượng</label>
                            </div>
                            <div class="col-md-2">
                                <label for="exampleFormControlInput1" class="mr-2">Đơn giá</label>
                            </div>
                            <div class="col-md-3">
                                <label for="exampleFormControlInput1" class="mr-2">Thành tiền</label>
                            </div>
                            <div class="col-md-1">
                                <label for="exampleFormControlInput1" class="mr-2">Xóa</label>
                            </div>
                        </div>
                        <div class="row san-pham-scroll">
                            <div class="col-md-4">
                                <ul id="product-name" class="list-group">
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <ul id="product-quantity" class="list-group">
                                </ul>
                            </div>

                            <div class="col-md-2">
                                <ul id="product-price" class="list-group">
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul id="product-into-money" class="list-group">
                                </ul>
                            </div>
                            <div class="col-md-1 justyfi-content-center">
                                <ul id="delete" class="list-group">
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div id="product-total-money" class="list-group mt-3 d-flex text-light">
                    <label for="product-total" class="text-right mr-1">Tổng tiền</label>
                    <input type="text" class="form-control focus col-4 ml-auto bg-white text-right" id="product-total"
                        name="total" readonly>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        //var addBillProduct = document.forms['add-bill-product'];
        var addBill = document.forms['add-bill'];
        var btnCreateNewBill = document.getElementById('add');
        var table = document.getElementById("bill-table");
        var rows = table.getElementsByTagName("tr");
        var ulDeleteProduct = document.getElementById('delete');
        var ulProductName = document.getElementById('product-name');
        var ulQuantity = document.getElementById('product-quantity');
        var ulMulti = document.getElementById('product-multi');
        var ulEqual = document.getElementById('product-equal');
        var ulPrice = document.getElementById('product-price');
        var ulIntoMoney = document.getElementById('product-into-money');
        var totalPrice = document.getElementById('product-total');
        var warning = document.getElementById('warning');
        var modalWarning = document.getElementById('modal-warning');
        const numProduct = 100;
        var ketqua;
        var arr = [];
        var currentRow;
        var createClickHandler;
        var cellPrice;
        var cellProduct;
        var valueProduct;
        var valueQuantity;
        var valuePrice;
        var valueIntoMoney;
        var products;
        var key;
        var nameAttribute;
        var count;

        function multiple(a, b) {
            let resultMulti = a * b;
            return resultMulti;
        }

        let total = 0;
        function sumTotal(price) {
            return total += price;
        }

        function addRowHandler(event) {
            if (rows[1].innerText === 'No data available in table') {
                event.preventDefault();
            } else {
                for (let i = 0; i < rows.length; i++) {
                    currentRow = table.rows[i];
                    createClickHandler = function (row) {
                        return function () {
                            let inputProductName = document.createElement('input');
                            let selectQuantity = document.createElement('select');
                            let inputPrice = document.createElement('input');
                            let inputIntoMoney = document.createElement('input');
                            let divMulti = document.createElement('input');
                            let divEqual = document.createElement('input');
                            let deleteProduct = document.createElement('button');
                            let spanClose = document.createElement('i');
                            for (let i = 1; i <= numProduct; i++) {
                                var optionQuantity = document.createElement('option');
                                optionQuantity.setAttribute('class', 'choose');
                                optionQuantity.innerText = i;
                                selectQuantity.appendChild(optionQuantity);
                            }
                            cellProduct = row.getElementsByTagName("td")[1];
                            cellPrice = row.getElementsByTagName("td")[2];
                            valueProduct = cellProduct.innerText;
                            valuePrice = cellPrice.innerText;
                            products = {
                                product: {
                                    productName: valueProduct,
                                    price: valuePrice,
                                }
                            }
                            arr.push(products);
                            key = Object.keys(arr[0]);
                            for (let eArr of key) {
                                count = document.getElementById('count');
                                count.innerText = arr.length;
                                if (eArr === 'product') {
                                    var selectIDs = [];
                                    var inputIDs = [];
                                    var inputMoneys = [];
                                    var orderTotal;
                                    // Create our number formatter.
                                    var formatter = new Intl.NumberFormat('vi-VN', {
                                        style: 'currency',
                                        currency: 'VND',
                                    });
                                    for (let i = 0; i < arr.length; i++) {
                                        nameAttribute = Object.keys(arr[i].product)
                                        inputProductName.setAttribute('class', 'form-control form-control-sm bg-white focus mb-1 border-bottom');
                                        inputProductName.setAttribute('type', 'text');
                                        inputProductName.setAttribute('name', 'productName');
                                        inputProductName.setAttribute('disabled', 'disabled');
                                        inputProductName.value = arr[i].product.productName;

                                        selectQuantity.setAttribute('id', `select${i}`);
                                        selectQuantity.setAttribute('class', 'form-control form-control-sm bg-white text-right mb-1');
                                        selectQuantity.setAttribute('type', 'text');
                                        selectQuantity.setAttribute('name', 'quantity');
                                        ulQuantity.appendChild(selectQuantity);

                                        inputPrice.setAttribute('id', `input${i}`);
                                        inputPrice.setAttribute('class', 'price form-control form-control-sm bg-white focus text-right mb-1 disabled');
                                        inputPrice.setAttribute('type', 'text');
                                        inputPrice.setAttribute('disabled', 'disabled');
                                        inputPrice.setAttribute('name', 'price');
                                        inputPrice.value = arr[i].product.price;

                                        inputIntoMoney.setAttribute('id', `input-money${i}`);
                                        inputIntoMoney.setAttribute('class', 'into-money form-control form-control-sm bg-white focus text-right mb-1 disabled');
                                        inputIntoMoney.setAttribute('type', 'text');
                                        inputIntoMoney.setAttribute('disabled', 'disabled');
                                        inputIntoMoney.setAttribute('name', 'intoMoney');
                                        inputIntoMoney.value = multiple(inputPrice.value, selectQuantity.value);

                                        deleteProduct.setAttribute('id', `delete-product${i}`);
                                        deleteProduct.setAttribute('class', 'btn btn-danger btn-sm mb-1 btn-31 rounded-circle');
                                        deleteProduct.setAttribute('type', 'button');
                                        deleteProduct.setAttribute('aria-label', 'Close');

                                        spanClose.setAttribute('class', 'ti-close');

                                        deleteProduct.appendChild(spanClose);
                                        //deleteProduct.setAttribute('name', 'intoMoney');
                                        //inputIntoMoney.value = multiple(inputPrice.value, selectQuantity.value);


                                        ulProductName.appendChild(inputProductName);

                                        ulPrice.appendChild(inputPrice);

                                        ulIntoMoney.appendChild(inputIntoMoney);
                                        ulDeleteProduct.appendChild(deleteProduct);
                                        selectIDs.push(`select${i}`);
                                        inputIDs.push(`input${i}`);
                                        inputMoneys.push(`input-money${i}`);
                                    }
                                    totalPrice.value = sumTotal(parseInt(inputIntoMoney.value));
                                }
                            }

                            selectQuantity.addEventListener('change', function (e) {
                                let formInputMoney = document.querySelectorAll('.into-money');
                                let tamp = [];
                                for (let u of formInputMoney) {
                                    tamp.push(parseInt(u.value));
                                }
                                for (let i in selectIDs) {
                                    let formSelect = document.getElementById(`select${i}`);
                                    let formInput = document.getElementById(`input${i}`);
                                    orderTotal = (parseInt(formSelect.options[formSelect.selectedIndex].value) * parseInt(formInput.value));
                                    tamp.splice(i, 1, orderTotal);

                                }
                                inputIntoMoney.value = orderTotal;
                                let numberTotalPrice = 0;
                                for (let price of tamp) {
                                    numberTotalPrice += price;
                                }
                                totalPrice.value = numberTotalPrice;
                            })
                        };
                    };
                    currentRow.onclick = createClickHandler(currentRow);

                }
            }
        }

        addRowHandler(event);

        btnCreateNewBill.onclick = function () {
            addBill.submit();
        }

        $(document).ready(function () {
            $('#bill-table').DataTable({
                autoWidth: false,
                columnDefs: [
                    {
                        targets: ['_all'],
                        className: 'mdc-data-table__cell'
                    }
                ]
            });

        });
    })
</script>