<div class="container-fluid mt-3">
    <div>
        <h2 class="text-primary">Danh sách Tỉnh / Thành phố</h2>
        <div class="d-flex justify-content-between mt-4">
            <a href="tinh-thanh-pho/kho-luu-tru" type="button" class="btn btn-outline-danger"><i class="fas fa-archive mr-2"></i>Kho lưu trữ<span class="badge badge-info ml-3">{{deletedCount}}</span></a>
            <a type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-add"><i
                    class="fas fa-plus mr-2"></i>Thêm mới</a>
        </div>
    </div>
    <div class="mt-4">
        <table class="table table-hover table-sm" id="cityprovince-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    {{!-- <th scope="col">Quận / Huyện</th> --}}
                    <th scope="col">Tỉnh / Thành phố</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each cities}}
                <tr class="text-center">
                    <th scope="row">{{sum @index 1}}</th>
                    {{!-- <td>
                        <select multiple data-id="{{this._id}}" class="form-control choose-district">
                            {{#each districts}}
                            <option class="district-id" value="{{this.district}}" data-id="{{this._id}}"
                                data-slug="{{this.slug}}" data-district="{{this.district}}">
                                {{this.district}}</option>
                            {{/each}}
                        </select>
                    </td> --}}
                    <td>{{this.cityprovince}}</td>
                    <td class="text-center">
                        <a type="button" class="btn btn-outline-info btn-sm mr-2" data-toggle="modal" data-id="{{this._id}}"
                            data-cityprovince="{{this.cityprovince}}" data-district="{{this.districts}}"
                            data-target="#modal-edit">Chỉnh sửa</a>
                        {{!-- <a type="button" class="mr-4 text-info" data-toggle="modal" data-id="{{this._id}}"
                            data-cityprovince="{{this.cityprovince}}" data-target="#modal-update">Cập nhật</a> --}}
                        <a type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-id="{{this._id}}"
                            data-id="{{this._id}}" data-cityprovince="{{this.cityprovince}}"
                            data-target="#modal-delete">
                            Lưu trữ
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{!-- <div class="modal fade" id="modal-update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật thêm Quận / Huyện</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-district" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="district" class="">Quận / Huyện</label>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="update-district"
                                    name="district">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="supplier-cityprivince">Tỉnh / Thành phố</label>
                            <input type="text" class="form-control form-control-sm focus" id="update-city"
                                name="cityprovince" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-update-district" type="submit" class="btn btn-primary">Lưu lại</button>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div> --}}
<div class="modal fade" id="modal-add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-city" class="mt-3 mb-3" method="POST">
                    <label for="add-city">Tỉnh / Thành phố</label>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm focus" id="city" name="cityprovince"
                            value="{{city.cityprovince}}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-add-cityprovince" type="submit" class="btn btn-primary">Lưu lại</button>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete-district" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-delete-district" type="submit" class="btn btn-danger">Xóa vĩnh viễn</button>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h5 class="modal-title" id="exampleModalLabel">Sửa</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form name="edit-city" class="mb-3" method="POST">
                    <label for="edit-city">Tỉnh / Thành phố</label>
                    <input type="text" class="form-control form-control-sm focus" id="edit-city" name="cityprovince">
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-edit-cityprovince" type="submit" class="btn btn-info">Lưu lại</button>
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-city" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Lưu trữ</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-delete-cityprovince" type="submit" class="btn btn-danger">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        var cityprovinceId, cityprovince, district, slug, districtId;
        var addCity = document.forms['add-city'];
        //var updateDistrict = document.forms['update-district'];
        var deleteDistrict = document.forms['delete-district'];
        var editCity = document.forms['edit-city'];
        var deleteCity = document.forms['delete-city'];
        var btnAddCityProvince = document.getElementById('btn-add-cityprovince');
        //var btnUpdateDistrict = document.getElementById('btn-update-district');
        var btnEditCityProvince = document.getElementById('btn-edit-cityprovince');
        var btnDeleteCityProvince = document.getElementById('btn-delete-cityprovince');
        var btnDeleteDistrict = document.getElementById('btn-delete-district');

        btnAddCityProvince.onclick = function () {
            addCity.submit();
        }

        //$('#modal-update').on('show.bs.modal', function (event) {
            //var button = $(event.relatedTarget);
            //cityprovinceId = button.data('id');
            //cityprovince = button.data('cityprovince');
            //var modal = $(this);
            //modal.find('.modal-body #update-city').val(cityprovince);
        //})

        //btnUpdateDistrict.onclick = function () {
            //updateDistrict.action = '/tinh-thanh-pho/' + cityprovinceId + '/district?_method=PUT';
            //updateDistrict.submit()
        //}

        $('#modal-delete-district').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            value = button.data('value');
            district = button.data('district');
            districtId = button.data('id');
            var modal = $(this);
            modal.find('.modal-body').text('Bạn có chắc muốn xóa vĩnh viễn Quận / Huyện: ' + cityprovinceId + ' này không?');
        })

        btnDeleteDistrict.onclick = function () {
            deleteDistrict.action = '/tinh-thanh-pho/' + districtId + '/district?_method=DELETE';
            deleteDistrict.submit();
        }

        $('#modal-edit').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            cityprovinceId = button.data('id');
            cityprovince = button.data('cityprovince');
            district = button.data('district');
            var modal = $(this);
            modal.find('.modal-body #edit-city').val(cityprovince);
            modal.find('.modal-body #update-district').val(district);
        })

        btnEditCityProvince.onclick = function () {
            editCity.action = '/tinh-thanh-pho/' + cityprovinceId + '?_method=PUT';
            editCity.submit();
        }

        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            cityprovinceId = button.data('id');
            cityprovince = button.data('cityprovince');
            var modal = $(this);
            modal.find('.modal-body').text('Bạn có chắc muốn đưa ' + cityprovince + ' vào kho lưu trữ không?');
        })

        btnDeleteCityProvince.onclick = function () {
            deleteCity.action = '/tinh-thanh-pho/' + cityprovinceId + '/storage?_method=DELETE';
            deleteCity.submit();
        }

        $(document).ready(function () {
            $('#cityprovince-table').DataTable();
        });
    })
</script>