<div class="container-fluid mt-3">
    <div>
        <a href="/loai-san-pham" type="button"><i class="fas fa-arrow-left"></i> Quay lại</a>
        <h2 class="mt-3">Loại sản phẩm đã xóa</h2>
    </div>
    <div class="mt-3">
        <table class="table table-hover table-sm" id="type-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Loại sản phẩm</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each types}}
                <tr class="text-center">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.typeName}}</td>
                    <td class="text-center">
                        <a type="button" class="mr-4 btn-restore" data-id="{{this._id}}">Khôi phục</a>
                        <a type="button" class="text-danger" data-toggle="modal" data-id="{{this._id}}" data-cityprovince="{{this.cityprovince}}"
                            data-target="#modal-delete">
                            Xóa vĩnh viễn
                        </a>
                    </td>
                </tr>
                {{!-- {{else}}
                <tr>
                    <td colspan="3" class="text-center">Kho lưu trữ trống. <a href="/tinh-thanh-pho" type="button">Quay
                            lại</a></td>
                </tr> --}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<form name="delete-type" method="POST"></form>
<form name="restore-type" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Xóa vĩnh viễn</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-delete-type" type="submit" class="btn btn-danger btn-sm">Có</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Không</button>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {

        var cityprovinceId, cityprovince;
        var deleteType = document.forms['delete-type'];
        var restoreType = document.forms['restore-type'];
        var btnDeleteType = document.getElementById('btn-delete-type');
        var btnRestoreType = $('.btn-restore');

        btnRestoreType.click(function() {
            typeId = $(this).data('id');
            restoreType.action = '/loai-san-pham/' + typeId + '/restore?_method=PATCH';
            restoreType.submit();
        })

        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            typeId = button.data('id');
            type = button.data('type');
            var modal = $(this);
            modal.find('.modal-body').text('Bạn có chắc muốn xóa vĩnh viễn ' + type + ' không?');
        })

        btnDeleteType.onclick = function () {
            deleteType.action = '/loai-san-pham/' + typeId + '/destroy?_method=DELETE';
            deleteType.submit();
        }

        $(document).ready(function () {
            $('#type-table').DataTable();
        });
    })
</script>