<div class="container-fluid mt-3">
    <div>
        <h5><a href="/hinh-thuc-thanh-toan" type="button" class="text-decoration-none"><i class="fas fa-arrow-left"></i> Quay lại</a></h5>
        <h2 class="text-primary mt-3">Hình thức thanh toán đã lưu trữ</h2>
    </div>
    <div class="mt-4">
        <table class="table table-hover table-sm" id="payments-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Hình thức thanh toán</th>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each payments}}
                <tr class="text-center">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.title}}</td>
                    <td>{{this.content}}</td>
                    <td class="text-center">
                        <a type="button" class="btn btn-outline-primary btn-sm mr-2 btn-restore" data-toggle="modal" data-id="{{this._id}}">Khôi phục</a>
                        <a type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-id="{{this._id}}" data-title="{{this.title}}" data-target="#modal-delete">
                            Xóa vĩnh viễn
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<form name="delete-payments" method="POST"></form>
<form name="restore-payments" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Xóa vĩnh viễn</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-delete-payments" type="submit" class="btn btn-danger">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {

        var paymentId, title;
        var deletePayments = document.forms['delete-payments'];
        var restorePayments = document.forms['restore-payments'];
        var btnDeletePayments = document.getElementById('btn-delete-payments');
        var btnRestorePayments = $('.btn-restore');

        btnRestorePayments.click(function() {
            paymentId = $(this).data('id');
            restorePayments.action = '/hinh-thuc-thanh-toan/' + paymentId + '/restore?_method=PATCH';
            restorePayments.submit();
        })

        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            paymentId = button.data('id');
            title = button.data('title');
            var modal = $(this);
            modal.find('.modal-body').text('Bạn có chắc muốn xóa vĩnh viễn hình thức thanh toán ' + title + ' này không?');
        })

        btnDeletePayments.onclick = function () {
            deletePayments.action = '/hinh-thuc-thanh-toan/' + paymentId + '/destroy?_method=DELETE';
            deletePayments.submit();
        }

        $(document).ready(function () {
            $('#payments-table').DataTable();
        });
    })
</script>