<div class="container-fluid mt-3">
    <div>
        <h5 class="text-primary"><a href="/san-pham" type="button"><i class="fas fa-arrow-left mr-2"></i>Quay lại</a></h5>
        <h2 class="mt-4">Sản phẩm đã lưu trữ</h2>
    </div>
    <div class="mt-4">
        <table class="table table-hover table-sm" id="product-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Loại sản phẩm</th>
                    <th scope="col">Thuộc tính</th>
                    <th scope="col">Đơn vị</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Nhà cung cấp</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr class="text-center">
                    <th scope="row">{{sum @index 1}}</th>
                    <td><a href="/chi-tiet">{{this.productName}}</a></td>
                    <td>{{this.productType}}</td>
                    <td>{{this.property}}</td>
                    <td>{{this.unit}}</td>
                    <td>{{this.productPrice}}</td>
                    <td>{{this.supplier}}</td>
                    <td class="text-center">
                        <a type="button" class="btn btn-outline-primary btn-sm mr-2 btn-restore" data-toggle="modal" data-id="{{this._id}}">Khôi phục</a>
                        <a type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-id="{{this._id}}"
                            data-product-name="{{this.productName}}" data-target="#modal-delete">
                            Xóa vĩnh viễn
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<form name="delete-product" method="POST"></form>
<form name="restore-product" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Xóa vĩnh viễn</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-delete-product" type="submit" class="btn btn-danger">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {

        var productId, product;
        var deleteProduct = document.forms['delete-product'];
        var restoreProduct = document.forms['restore-product'];
        var btnDeleteProduct = document.getElementById('btn-delete-product');
        var btnRestoreProduct = $('.btn-restore');

        btnRestoreProduct.click(function () {
            productId = $(this).data('id');
            restoreProduct.action = '/san-pham/' + productId + '/restore?_method=PATCH';
            restoreProduct.submit();
        })

        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            productId = button.data('id');
            product = button.data('product');
            var modal = $(this);
            modal.find('.modal-body').text('Bạn có chắc muốn xóa vĩnh viễn ' + product + ' không?');
        })

        btnDeleteProduct.onclick = function () {
            deleteProduct.action = '/san-pham/' + productId + '/destroy?_method=DELETE';
            deleteProduct.submit();
        }

        $(document).ready(function () {
            $('#product-table').DataTable();
        });
    })
</script>