<div class="container-fluid mt-3">
    <div>
        <a href="/khoi-luong" type="button"><i class="fas fa-arrow-left"></i> Quay lại</a>
        <h2 class="mt-3">Khối lượng đã xóa</h2>
    </div>
    <div class="mt-3">
        <table class="table table-hover table-sm" id="mass-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Khối lượng</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each masses}}
                <tr class="text-center">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.massName}}</td>
                    <td class="text-center">
                        <a type="button" class="mr-4 btn-restore" data-id="{{this._id}}">Khôi phục</a>
                        <a type="button" class="text-danger" data-toggle="modal" data-id="{{this._id}}" data-mass="{{this.massName}}"
                            data-target="#modal-delete">
                            Xóa vĩnh viễn
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<form name="delete-mass" method="POST"></form>
<form name="restore-mass" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Xóa vĩnh viễn</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-delete-mass" type="submit" class="btn btn-danger btn-sm">Có</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Không</button>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {

        var massId, mass;
        var deleteMass = document.forms['delete-mass'];
        var restoreMass = document.forms['restore-mass'];
        var btnDeleteMass = document.getElementById('btn-delete-mass');
        var btnRestoreMass = $('.btn-restore');

        btnRestoreMass.click(function() {
            massId = $(this).data('id');
            restoreMass.action = '/khoi-luong/' + massId + '/restore?_method=PATCH';
            restoreMass.submit();
        })

        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            massId = button.data('id');
            mass = button.data('mass');
            var modal = $(this);
            modal.find('.modal-body').text('Bạn có chắc muốn xóa vĩnh viễn ' + mass + ' không?');
        })

        btnDeleteMass.onclick = function () {
            deleteMass.action = '/khoi-luong/' + massId + '/destroy?_method=DELETE';
            deleteMass.submit();
        }

        $(document).ready(function () {
            $('#mass-table').DataTable();
        });
    })
</script>