<div class="container-fluid mt-3">
    <div>
        <h5 class="text-primary"><a href="/don-vi-tinh" type="button" class="text-decoration-none"><i class="fas fa-arrow-left mr-2"></i>Quay lại</a></h5>
        <h2 class="mt-4 text-primary">Đơn vị tính đã lưu trữ</h2>
    </div>
    <div class="mt-4">
        <table class="table table-hover table-sm" id="unit-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Đơn vị tính</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each units}}
                <tr class="text-center">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.unitName}}</td>
                    <td class="text-center">
                        <a type="button" class="btn btn-outline-primary btn-sm mr-2 btn-restore" data-id="{{this._id}}">Khôi phục</a>
                        <a type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-id="{{this._id}}" data-unit="{{this.unitName}}"
                            data-target="#modal-delete">
                            Xóa vĩnh viễn
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<form name="delete-unit" method="POST"></form>
<form name="restore-unit" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Xóa vĩnh viễn</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-delete-unit" type="submit" class="btn btn-danger">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {

        var unitId, unit;
        var deleteUnit = document.forms['delete-unit'];
        var restoreUnit = document.forms['restore-unit'];
        var btnDeleteUnit = document.getElementById('btn-delete-unit');
        var btnRestoreUnit = $('.btn-restore');

        btnRestoreUnit.click(function() {
            unitId = $(this).data('id');
            restoreUnit.action = '/don-vi-tinh/' + unitId + '/restore?_method=PATCH';
            restoreUnit.submit();
        })

        $('#modal-delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            unitId = button.data('id');
            unit = button.data('unit');
            var modal = $(this);
            modal.find('.modal-body').text('Bạn có chắc muốn xóa vĩnh viễn ' + unit + ' không?');
        })

        btnDeleteUnit.onclick = function () {
            deleteUnit.action = '/don-vi-tinh/' + unitId + '/destroy?_method=DELETE';
            deleteUnit.submit();
        }

        $(document).ready(function () {
            $('#unit-table').DataTable();
        });
    })
</script>